server:
  port: 8080
  servlet:
    context-path: /landing-page


spring:
  application:
    name: ms-identity-orchestration-web
  main:
    banner-mode: "console"

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,loggers"
  endpoint:
    health:
      probes:
        enabled: true

logging:
  level:
    root: INFO
    com.mx.att.digital.identity: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{36} - %msg%n"



aws:
  region: "${AWS_REGION:mx-central-1}"
  lambda:
    function-arn: "${AWS_LAMBDA_FUNCTION_ARN:}"            # arn:aws:lambda:mx-central-1:XXXXXXXXXXXX:function:att-incode-lambda-start-session-web
  # Solo para DEV local (en servidores usa IAM role / Secrets Manager)
  credentials:
    access-key: "${ACCESS_KEY_LANDING_PAGE_PROXY:}"
    secret-key: "${SECRET_KEY_LANDING_PAGE_PROXY:}"

ssl:
  truststore:
    path: "${SSL_TRUSTSTORE_PATH:}"      # ej: file:/opt/certs/att-truststore.jks
    password: "${SSL_TRUSTSTORE_PASSWORD:}"
    type: "${SSL_TRUSTSTORE_TYPE:JKS}"
  insecure-allow-all: ${SSL_INSECURE_ALLOW_ALL:false}

resilience4j:
  circuitbreaker:
    instances:
      orchestrator:
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 10
        failureRateThreshold: 50
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 10s
  retry:
    instances:
      orchestrator:
        maxAttempts: 2
        waitDuration: 300ms
  timelimiter:
    instances:
      orchestrator:
        timeoutDuration: 6s
